crypto-performance {

  //.pad-left {
  //  padding-left: 10px !important;
  //
  //}
  .vertical-divider {
    border-left: #dedede 1px solid;
    height: 100%;
    margin-left: 50%;

  }
  // .pad-right {
  //  padding-right: 10px !important;
  //}
  .column-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .coin-symbol {
    font-size: 16px;
  }
  .coin-name {
    font-size: 14px;
  }
}
