page-welcome {
    .content {
        background-color: #3E50B4;
        color: #fff;
    }
    .splash-bg {
        position: relative;
        background: url('../assets/img/splashbg.png') no-repeat transparent;
        background-size: cover;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 40s linear infinite;
    }
    @keyframes animatedBackground {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 0;
        }
    }
    .welcome-info {
        position: relative;
        z-index: 2;
        margin-top: 40px;
        text-align: center;
    }
    .app-title {
        font-family: WhitneyHTFMediumSC;
    }
    .app-intro {
        font-size: 18px;
        font-weight: 450;
        padding: 10px;
    }
    .line {
        width: 40%
    }
    .line hr {
        background-color: #fff;
    }
    .divider {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .actions {
        margin-top: 50%;
    }
    .signup-bttn {
        height: 50px;
        border-radius: 10px;
        text-transform: none;
        font-size: 18px;
        color: #3E50B4;
    }
    .login {
        text-align: center;
        font-size: 16px;
        a {
            color: #fff;
        }
    }
}